version: "3.9"

services:
  mongodb:
    image: mongo:7
    container_name: ai-resume-mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: ai_resume_screener
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
